.toggle-switch {
  width: 56px;
  height: 28px;
  position: relative;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  cursor: pointer;
  left: 640px;

  position: relative;
}
.toggle-switch__checkbox {
  opacity: 0;
}
.toggle-switch__circle {
  background-color: black;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: absolute;

  left: 0;

  transition: all 0.3s;
}
.toggle-switch__text {
  position: absolute;
  font-size: 14px;

  line-height: 1;
}
.toggle-switch__text-f {
  color: #7e7e7e;
  left: 8px;
  top: 7px;
}
.toggle-switch__text-c {
  color: #7e7e7e;
  left: 35px;
  top: 7px;
}
.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}
.toggle-switch__text_color_white {
  color: white;
}
